
body{
    margin:0px;text-align: center;
}

.nav1{
    max-width: 1920px;
    height: 54px;
    margin: auto;

}

.div1{
    max-width: 1920px;
    height: 54px;
    margin:20px auto;
    display: flex;
    justify-content: space-between;
    
}

.title1{
    font-size: 30px;
    padding:7px 0;
    cursor: pointer;
}

.title2{
    padding:13px 0;
    /* position: relative; */
}

.button1{
    font-size: 21px;cursor: pointer;
    height: 35px;
    width: 110px;
}

.button1-1{
    font-size: 21px;cursor: pointer;
    height: 35px;
    width: 110px;
    display: none;
}

.sign{
    width: 200px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 0px 100px;
    display: none;
    z-index: 3;
    position: absolute;
    top:100px; left:50%; transform:translate(-100px,0px);
    margin: 20px auto;
}

.arow{
    height: 10px;
    background-color: #337788 ;
    margin-bottom: 5px;
}

.close{
    position: absolute; top:7px ;right:2px;
    cursor: pointer; 
}

.name{
    margin: 10px auto;
}

.email{
    margin: 10px auto;
}

.password{
    margin: 10px auto;
}
.title3{
    cursor: pointer;
}

.button2{
    height: 40px;
    width: 160px;
    background-color: #448899; 
    color:white;
    margin: 10px auto;
} 

.usersign{
    width: 200px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 0px 100px;
    display: none;
    z-index: 5;
    position: absolute;
    top:100px; left:50%; transform:translate(-100px,0px);
    margin: 20px auto;
}

.closed{
    position: absolute; top:0px ;right:2px;
    cursor: pointer;
}



.bigbox{
    max-width: 1200px;
    width:100%;
    height: 420px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* min-height: 100vh; */
}

.content{
    overflow: hidden;
    position: relative;
    height: 420px;
    width: 540px;
}

.content .images{
    height: 100%;
    width: 100%;
}

.images img{
    height: 100%;
    width: 100%;
}

.btm_sliders{
    position: absolute;
    bottom: 20px;
    left:50%;
    display: flex;
    transform: translateX(-50%);
}

.btm_sliders span{
    height: 15px;
    width: 15px;
    /* background: cornsilk; */
    margin: 0 3px;
    cursor: pointer;
    border-radius: 15px;
}
/* 
.btm_sliders span:hover{
    background: blue;
} */

.content .slide{
    position: absolute; top:200px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: rbga(255,255,255,0.2);
    border-radius: 50px;
    cursor: pointer;
}

.content .slide:hover{
    background: rbga(255,255,255,0.5);
}

.slide span{
    font-size: 35px;
    color:white;
    line-height: 40px;
}

.content .right{
    right:0;

}

.box{
    max-width:600px;
    margin: auto;
    width: 100%;
}

.spotname{
    height:33px;
    text-align: left;

}

.type{
    height: 22px;
    text-align: left;

}

.date{
    position: relative;
    height: 310px;
    background-color: #E8E8E8;
}

.text1{
    text-align: left; line-height: 40px;
    margin-left:20px ;
}

/* .input1 :checked+label{
    background-color:#448899 ;    
} */


/* .input2 :checked+label{
    background-color:#448899 ;    
} */



.button3{
    height: 40px;
    width: 160px;
    background-color: #448899; 
    color:white;
    position: absolute; left: 20px; 
} 

.line{
    max-width: 1200px;
    margin: 20px auto;
}

.smallbox{
    max-width: 1200px;
    width:100%;
    /* height: 420px; */
    margin: auto;

}

.text2{
    text-align: left; line-height: 30px;
} 
.description{
    margin-bottom: 35px;
}

.address{
    margin-bottom: 35px;
}

.transport{
    margin-bottom: 35px;
}

.footer{
    max-width:1920px;
    width:100%; height:104px;
    font-size:20px;
    line-height: 104px;
    text-align: center;
    align-items: center;
    background-color: gray;
}

@media(min-width:360px) and (max-width:500px){

    .bigbox{
        max-width: 500px;
        width:100%;
        height: 100%;
        margin: auto;
        display: block;
    
    }
    
    .photo{
        align-items: center;
        justify-content: center;
        text-align: center;
        /* min-height: 100vh; */
    }
    
    .content{
        overflow: hidden;
        position: relative;
        height: 350px;
        width: 100%;
    
    }

}




