body{
    position: relative;
    margin:0px;text-align: center;
}

.gray{
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.25;
    display: none;
    position: absolute;
    z-index: 2;
}

.nav1{
    max-width: 1200px;
    height: 54px;
    margin: auto;

}

.div1{
    max-width: 1200px;
    height: 54px;
    margin:20px auto;
    display: flex;
    justify-content: space-between;
}

.title1{
    font-size: 30px;
    padding:7px 0;
    cursor: pointer;
}

.title2{
    padding:13px 0;

}

.button1{
    font-size: 21px;cursor: pointer;
    height: 35px;
    width: 110px;
}

.button1-1{
    font-size: 21px;cursor: pointer;
    height: 35px;
    width: 110px;
    display: none;
}

.error{
    color: red;
    font-size: 10px;
    display: none;
}

.sign{
    width: 200px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 0px 100px;
    display: none;
    z-index: 3;
    position: absolute;
    top:100px; left:50%; transform:translate(-100px,0px);
    margin: 20px auto;
    padding: 0px;

}

.arow{
    height: 10px;
    background-color: #337788 ;
    margin-bottom: 5px;
}

.close{
    position: absolute; top:7px ;right:2px;
    cursor: pointer; 
}

.name{
    margin: 10px auto;
}

.email{
    margin: 10px auto;
}

.password{
    margin: 10px auto;
}
.title3{
    cursor: pointer;
}

.button2{
    height: 40px;
    width: 160px;
    background-color: #448899; 
    color:white;
    margin: 10px auto;
} 

.usersign{
    width: 200px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 0px 100px;
    display: none;
    z-index: 5;
    position: absolute;
    top:100px; left:50%; transform:translate(-100px,0px);
    margin: 20px auto;
    padding: 0px;

}

.line1{
    max-width: 1920px;
    margin: 20px auto;
}

.title{
    max-width: 1200px;
    text-align: left;
    margin-left: 20%;
    padding: 25px;
}

.no_order{
    max-width: 1200px;
    text-align: left;
    margin-left: 20%;
    padding: 25px;
    display: none;
}

.container{
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin-left: 20%;;
}

.photobox{
    width: 266px;
    height: 250px;
   
}

.photobox img{
    width: 100%;
    
}
.contentbox{
    width:340px;
    height: 250px;
    margin-left: 50px;

}

.title_text{
    text-align: left;
    line-height: 50px;
    margin-left: 15px;
}

.text{
    text-align: left;
    line-height: 35px;
    margin-left: 15px;

}

.input_box{
    text-align: left;
    margin-left: 15px;

}

.input_text{
    line-height: 30px;
    margin: 15px auto;
}

.delete_pic{
    background-color: white;
    border:white;
    width:30px;
    height:30px;
    position:absolute;
    top:155px;
    right: 20%;
    cursor: pointer; 

}

.line2{
    max-width: 1200px;
    margin: 20px auto;
}

.inform_box{
    max-width: 1100px;
    margin: auto;
}

.totalbox{
    line-height: 30px;
    text-align: right;
}

.button3{
    width: 173px;
    height: 36px;
    color: white;
    background-color: #448899;

}

.footer{
    max-width:1920px;
    width:100%; height:104px;
    font-size:20px;
    line-height: 104px;
    text-align: center;
    align-items: center;
    background-color: gray;
    margin-top:100px
}

@media(min-width:360px) and (max-width:500px){
    .title1{
        font-size: 24px; 
    }
    
    .container{
        display: block;
        max-width: 500px;
        width: 95%;
        margin: auto;
    }

    .delete_pic{
        position:absolute;
        top:35%;
    }

}