<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/color_size.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../static/index.css" media="all"/>
    <meta charset = "utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title></title>

<style>

    .bigbox {
        width:1200px;
        display:flex;
        flex-wrap: wrap;
        /* border:solid red 1px; */
        text-align:center ;
    }
    @media(min-width:360px) and (max-width:500px){
    .button3{
        position:absolute; left: 200px; top:242px;
        z-index: 2;
        width: 44px; height: 44px;
        /* border:solid blue 1px; */
    }
}
</style>

</head>

<body>
<div id = "gray" class = "gray" ></div>
    <div class = "nav1">
        <div class = "div1">
            <span id = "taipei" class = "title1 Cyan700" >台北一日遊</span>
            <span class = "title2">    
                <button id = "booking" class = "button1">預定行程</button>
                <button id = "signin" class = "button1">登入/註冊</button>
                <button  id = "signout" class = "button1-1"  >登出</button>
                <!-- <div id = "error" class = "error" > 信箱或密碼輸入錯誤</div> -->
                <ul  action ="/api/user" id = "sign" class = "sign" method = "PATCH">
                    <div class="arow" ></div>
                    登入會員帳號
                    <div id = "close" class = "close">X</div>
                    <input id = "signinemail" type="text" class = "email" placeholder="輸入電子信箱">
                    <input id = "signinpassword" type="text" class = "password"placeholder="輸入密碼">
                    <button id = "membersignin" class="button2" >登入帳戶</button>
                    <div id = "signup" class="title3">還沒有帳戶？點此註冊</div>
                </ul>
                <ul action = "/api/user" method = "POST" id = "usersign" class="usersign" >
                    <div class="arow" ></div>
                    註冊會員帳號
                    <div id = "closed" class = close>X</div>
                    <input id = "signupname" type="text" class = "name" name = "name" placeholder="輸入姓名">
                    <input id = "signupemail" type="text" class = "email" name = "email" placeholder="輸入電子信箱">
                    <input id = "signuppassword" type="text" class = "password" name = "password" placeholder="輸入密碼">
                    <button id = "membersignup" class = "button2" >註冊新帳戶</button>
                    <div id = "usersignin" class = "title3">已經有帳戶了？點此登入</div>
                </ul>
                
            </span>
        </div>
    </div>
    <div class = "head">
        <span class = "text1 Cyan700">輕鬆享受台北一日悠閒</span>
        <span class = "text2">探索每個角落，體驗城市的深度體驗城市的深度旅遊行程</span>
        <input type="text" class = "input1" placeholder="輸入景點名稱查詢" id = "inputkeyword"> </input>
        <button id = "search" class = "button3 " ><img src="../static/icon_search.png"> </button>
        <img class = "welcome1" src= "../static/welcome 1.png"></img>
    
    </div>
    <main id = "content"></main>
    <footer class = "footer" > COPYRIGHT©2021台北一日遊</footer>

<script>
    getuser()


    var sign;
    var usersign;
    var switchbutton;
    var signout;
    var gray;
    window.onload = function(){
    sign = document.getElementById("sign");
    usersign = document.getElementById("usersign");
    switchbutton = document.getElementById("signin");
    signout = document.getElementById("signout");
    gray = document.getElementById("gray");
    };

    // 台北一日遊首頁
    var taipei = document.getElementById("taipei");
    taipei.addEventListener("click", function(){
    location.href = "/";
    });

    //登入／註冊
    var signin = document.getElementById("signin");
    signin.addEventListener("click", function(){
    sign.style.display = "block";
    usersign.style.display = "none";
    gray.style.display = "block"
    });

    // 預定行程
    var booking = document.getElementById("booking");
    booking.addEventListener("click", function(){
        fetch("/api/user", {
            headers: {
            'content-type': 'application/json'}
        })
        .then(response => response.json(data))
        .then((data) => {
        console.log(data);
        signinmember = data;
        if (data["data"]) {
            window.location.href = "/booking"

        }else{
            sign.style.display = "block";
        }
    })
})

    // 關閉登入視窗
    var closebox = document.getElementById("close");
    closebox.addEventListener("click", function(){
    sign.style.display = "none";
    usersign.style.display = "none";
    gray.style.display = "none"
    });
    
    // 登入切換到註冊
    var signup = document.getElementById("signup");
    signup.addEventListener("click", function(){
    sign.style.display = "none";
    usersign.style.display = "block";
    gray.style.display = "block"
    });

    // 關閉註冊視窗
    var close2 = document.getElementById("closed");
    close2.addEventListener("click", function(){
    sign.style.display = "none";
    usersign.style.display = "none";
    gray.style.display = "none"
    });

    // 會員註冊
    var usersignin = document.getElementById("usersignin");
    usersignin.addEventListener("click", function(){
    sign.style.display = "block";
    usersign.style.display = "none";
    gray.style.display = "block"
    });

    var switchbutton = document.getElementById("signin");
    var signout = document.getElementById("signout");

    // 登出
    signout.addEventListener("click", function(){
    switchbutton.style.display = "inline";
    signout.style.display = "none";
    gray.style.display = "none"
    delete_user();
    });

    var currentPage = 0;
    let result;
    let data;
    let bigbox;
    let box;
    let windowHeight;
    var key_word = null;
   

    bigbox = document.createElement("div");
    bigbox.className = "bigbox";
    bigbox.id = "bigbox";
   
    
    function researchData(key_word){
        let src = "http://50.18.127.34:3000/api/attractions?page="+currentPage;
        if (key_word !== null){
            src="http://50.18.127.34:3000/api/attractions?page="+currentPage+"&keyword="+key_word;
        }
        fetch(src).then(function(response)
        {   
            // console.log(response);
            // console.log(src);
            return response.json();
        }
        ).then(function(result)
        {
        getData(result);
        nextPage = result.nextPage;
        currentPage = nextPage;
        
        // windowHeight = bigbox.getBoundingClientRect().bottom;
        // console.log(windowHeight);
        // console.log(document.body.clientHeight);
        // console.log(document.body.scrollHeight);
        // console.log(document.body.scrollTop);
        // console.log(window.scrollY);
        // console.log(document.documentElement.scrollHeight);
        // console.log(window.innerHeight);
        });
    }

    researchData(key_word);

    // 觸發滾輪
    window.addEventListener ('scroll', function()
    {
  
    if (window.scrollY*3 > (document.documentElement.scrollHeight)){
        researchData(key_word);
    }
    });

    // 景點搜尋
    var btn = document.getElementById("search");
    // console.log(btn);
    btn.addEventListener('click', function()
    {
    var clear = document.getElementById("bigbox").innerHTML = "";
    key_word = document.getElementById("inputkeyword").value;
    currentPage = 0;    
    researchData(key_word);
    // document.body.appendChild(content);
    });

    // var hrefbtn = document.getElementById("box");
    // console.log(hrefbtn);

    // hfetbtn.addEventListener('click', function()
    // {
    // var clear = document.getElementById("bigbox").innerHTML = "";
    // key_word = document.getElementById("inputkeyword").value;
    // currentPage = 0;    
    // researchData(key_word);
    // // document.body.appendChild(content);
    // });

    

    function getData(result){
        
        var datalength = result.data.length;
        console.log(datalength);

        if(datalength==0){
            document.getElementById("bigbox").innerHTML = "查無景點資料";
        }
        else{
        for(let i = 0; i<datalength; i++){ 
        
        // console.log(result.data[i]);
        let number = result.data[i].id;
        let title = result.data[i].name;
        // title = number + title;
        let mrt = result.data[i].mrt;
        let type = result.data[i].category;
        let web = result.data[i].images[0];
        
        box = document.createElement("div");
        box.className = "box";
        box.id = "box";
        
        bigbox.appendChild(box);
        
        var a = document.createElement("a");
        a.href = "http://50.18.127.34:3000/attraction/"+number;
        box.appendChild(a);

        var photobox = document.createElement("img");
        photobox.src = web
        photobox.className = "photobox";

        a.appendChild(photobox);

        var titlebox = document.createElement("div");
        titlebox.classList.add('titlebox');

        box.appendChild(titlebox);

        var titlename = document.createElement("div");
        titlename.className = "titlename";
        titlename.innerText = title;

        titlebox.appendChild(titlename);

        var titlename2 = document.createElement("div");
        titlename2.className = "titlename2";

        titlebox.appendChild(titlename2);

        var mrtname = document.createElement("span");
        mrtname.className = "mrtname";
        mrtname.innerText = mrt;
        
        // var idnumber = document.createElement("span");
        // idnumber.className = "idnumber";
        // idnumber.innerText = number;

        var typename = document.createElement("span");
        typename.className = "typename";
        typename.innerText = type;

        titlename2.appendChild(mrtname);
        titlename2.appendChild(typename);
        // titlename2.appendChild(idnumber);
        // box.addEventListener("click", function(){      
        // })

    };
    var content = document.getElementById("content").appendChild(bigbox);
    }}


    function getuser(){
        fetch("/api/user", {
            headers: {
            'content-type': 'application/json'}
        })
        .then(response => response.json(data))
        .then((data) => {
        if (data["data"]){
            switchbutton.style.display = "none";
            signout.style.display = "inline";
        }
    })
    };

    function delete_user(){
        fetch("/api/user",{
            headers:{
            'content-type': 'application/json'},
            method:("DELETE")
        })
        // getuser();
    };

    function signup_postData (url, data){
        fetch(url, {
            headers: {
                'content-type': 'application/json'},
            body: JSON.stringify(data), 
            method:("POST")
        })
        .then(response => response.json(data))
        // .then((data) => console.log(data, 'data'))
        .then((data) => {
            getuser()
        })
    };

    // var error = document.getElementById("error");


    function signin_patchData (url, data){
        fetch(url, {
            headers: {
                'content-type': 'application/json'},
            body: JSON.stringify(data), method:("PATCH")
        })
        .then(response => response.json(data))
        // .then((data) => console.log(data, 'data'))
        .then((data) => {
        if (data["ok"]) {
            getuser()
            // document.querySelector(".button1").style.display = "none"
            switchbutton.style.display = "none";
            signout.style.display = "inline";
            // error.style.display = "none";

            // switchbutton.innerHTML = "";
            // switchbutton.innerHTML = "登出";
        } 
        // else {
        //     error.style.display = "block";

        // }
        })
    };

    // 使用者註冊
    var membersignup = document.getElementById("membersignup");
    membersignup.addEventListener("click", function(event){
    event.preventDefault()
    usersign.style.display = "none";
    gray.style.display = "none"
    var signupname =document.getElementById("signupname").value;
    var signupemail =document.getElementById("signupemail").value;
    var signuppassword = document.getElementById("signuppassword").value;
    console.log(signupemail);
    console.log("signupemail");
    var signupdata = {"name": signupname, "email": signupemail, "password": signuppassword};
    signup_postData("/api/user", signupdata)
    // .then(signupdata => console.log(signupdata)) 

    });

    // 使用者登入
    var membersignin = document.getElementById("membersignin");
    membersignin.addEventListener("click", function(event){
    event.preventDefault()
    sign.style.display = "none";
    gray.style.display = "none"

    var signinemail =document.getElementById("signinemail").value;
    var signinpassword = document.getElementById("signinpassword").value;
    console.log(signinpassword);
    console.log("signinpassword");
    var signindata = {"email": signinemail, "password": signinpassword};
    signin_patchData("/api/user", signindata)
    // .then(signindata => console.log(signindata)) 
    // .catch(error => console.error(error))
    });

    
    
</script>


</body>

</html>

